.nextflow*
/.nf-test
work/
/data/
test_data/
test_data/*
results/
.DS_Store
testing/
testing*
*.pyc
*log
.devcontainer
slurm*
FutureLabelNotes.txt
*.csv
*.tsv
databases/**
Makefile
*.bak
docs/TODO.md
.git.bak
assets/schema_input_nfv2.0.0.json
nextflow_schema_nfv2.json
