/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params.max_memory = "2.GB"
params.max_cpus = 1

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"
