/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


  params.max_memory = "2.GB"
  params.max_cpus = 1

  params.opt_platforms.illumina = "illumina"
  params.opt_platforms.ont = "nanopore"
  params.opt_platforms.pacbio = "pacbio"
  params.opt_platforms.hybrid = "hybrid"

  params.fastp.args.illumina = "-Q" // Might need to remove this param was not being applied originally
  params.fastp.args.single_end = "-Q"
  params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
  params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/test'


  params.platform = "nanopore"

  params.mh_min_kmer = 1
  params.nanopore_chemistry = "r941_min_hac_g507"
  params.min_reads = 2
  params.skip_allele_calling = true
  params.skip_bakta = true
  params.skip_staramr = false
  params.skip_mobrecon = false
  params.skip_checkm = true
  params.skip_raw_read_metrics = false
  params.skip_polishing = true
  params.fail_on_metagenomic = true

  params.QCReport.escherichia.search = "Escherichia"
  params.QCReport.salmonella.search = "Salmonella"
  params.QCReport.listeria.search = "Listeria"
  params.QCReport.shigella.search = "Shigella"
  params.QCReport.staphylococcus.search = "Staphylococcus"
  params.QCReport.klebsiella.search = "Klebsiella"
  params.QCReport.fallthrough.search = "No organism specific QC data available."
  params.QCReport.fallthrough.raw_average_quality = 0
  params.QCReport.fallthrough.min_n50 = 0
  params.QCReport.fallthrough.max_n50 = 1000000000
  params.QCReport.fallthrough.min_nr_contigs = 0
  params.QCReport.fallthrough.max_nr_contigs = 100000000
  params.QCReport.fallthrough.fixed_genome_size = 1000
  params.QCReport.fallthrough.min_length = 0
  params.QCReport.fallthrough.max_length = 100000000
  params.QCReport.fallthrough.max_checkm_contamination = 3.0
  params.QCReport.fallthrough.min_average_coverage = 0
  params.QCReport.fallthrough.min_long_read_length = 0 
            
  // Configure paths if final report where relevant data is required
  params.QCReportFields.raw_average_quality.path = ["RawReadSummary", "combined", "qual_mean"]
  params.QCReportFields.raw_average_quality.coerce_type = 'Float'
  params.QCReportFields.raw_average_quality.compare_fields = ['raw_average_quality']
  params.QCReportFields.raw_average_quality.comp_type = "ge"
  params.QCReportFields.raw_average_quality.on = true
  params.QCReportFields.raw_average_quality.low_msg = "Base quality is poor, resequencing is recommended."
  params.QCReportFields.raw_average_quality.qc_func = "READQUALITY"

  params.QCReportFields.average_coverage.path = ["FixedGenomeSizeDepth"]
  params.QCReportFields.average_coverage.coerce_type = 'Float'
  params.QCReportFields.average_coverage.compare_fields = ['min_average_coverage']
  params.QCReportFields.average_coverage.comp_type = 'ge'
  params.QCReportFields.average_coverage.on = true
  params.QCReportFields.average_coverage.low_msg = "Depth of coverage from assembly is lower than than expected. A top-up run is likely needed."
  params.QCReportFields.average_coverage.qc_func = "COVERAGE"

  params.QCReportFields.metagenomic.path = ["MashMeta"]
  params.QCReportFields.metagenomic.coerce_type = 'Bool'
  params.QCReportFields.metagenomic.compare_fields = []
  params.QCReportFields.metagenomic.comp_type = "bool"
  params.QCReportFields.metagenomic.on = false
  params.QCReportFields.metagenomic.qc_func = "GENERIC"

  params.QCReportFields.n50_value.path = ["QUAST", "0", "N50"]
  params.QCReportFields.n50_value.coerce_type = 'Integer'
  params.QCReportFields.n50_value.compare_fields = ['min_n50', 'max_n50']
  params.QCReportFields.n50_value.comp_type = "range"
  params.QCReportFields.n50_value.on = true
  params.QCReportFields.n50_value.qc_func = "CONTIG"
  params.QCReportFields.n50_value.low_msg = "N50 value is low, this could be due to many reasons involving contamination, poor template quality or insufficient template quantity. Reisolation and reseqeuncing may be needed."
  params.QCReportFields.n50_value.high_msg = "N50 value is high, this is likely a good thing if you have fewer contigs than expected."

  params.QCReportFields.nr_contigs.path = ["QUAST", "0", "# contigs"]
  params.QCReportFields.nr_contigs.coerce_type = 'Integer'
  params.QCReportFields.nr_contigs.compare_fields = ['min_nr_contigs', 'max_nr_contigs']
  params.QCReportFields.nr_contigs.comp_type = "range"
  params.QCReportFields.nr_contigs.on = true
  params.QCReportFields.nr_contigs.qc_func = "CONTIG"
  params.QCReportFields.nr_contigs.low_msg = "Fewer contigs than expected, if your genome length is of an expected size and you have a high N50 you likely just have a high quality assembly."
  params.QCReportFields.nr_contigs.high_msg = "More contigs are present than expected, if your N50 is low and your genome length is shorter than expected you likely need to potentially need to reisolate and resequence/top-up your sample."
            
  params.QCReportFields.length.path = ["QUAST", "0", "Total length"]
  params.QCReportFields.length.coerce_type = 'Integer'
  params.QCReportFields.length.compare_fields = ['min_length', 'max_length']
  params.QCReportFields.length.comp_type = "range"
  params.QCReportFields.length.on = true
  params.QCReportFields.length.qc_func = "GENERIC"
  params.QCReportFields.length.low_msg = "Genome length lower than expected, you may need to resequence the sample."
  params.QCReportFields.length.high_msg = "Genome length is higher than expected, contmination is potentially present."

  params.QCReportFields.checkm2_contamination.path = ["CheckM2", "0", "Contamination"]
  params.QCReportFields.checkm2_contamination.coerce_type = 'Float'
  params.QCReportFields.checkm2_contamination.compare_fields = ['max_checkm2_contamination']
  params.QCReportFields.checkm2_contamination.comp_type = "le"
  params.QCReportFields.checkm2_contamination.on = false
  params.QCReportFields.checkm2_contamination.qc_func = "AUTOFAIL"
  params.QCReportFields.checkm2_contamination.high_msg = "Potential contamination is present in your sample. You may need to reisolate and resequence your sample."

  params.QCReportFields.wgmlst_loci_count.path = ["LocidexSummary", "LociSingleBlastHit"]
  params.QCReportFields.wgmlst_loci_count.coerce_type = 'Integer'
  params.QCReportFields.wgmlst_loci_count.compare_fields = ["min_wgmlst_loci"]
  params.QCReportFields.wgmlst_loci_count.comp_type = "ge"
  params.QCReportFields.wgmlst_loci_count.on = true
  params.QCReportFields.wgmlst_loci_count.qc_func = "GENERIC"
  params.QCReportFields.wgmlst_loci_count.low_msg = "Fewer wgMLST loci found than expected. Your sample may have low coverage of your target organism, or perhaps the wrong organism is selected."

  // requested to aid in verifying selected reads match a given sequencing run
  params.QCReportFields.short_read_length.path = ["RawReadSummary", "combined", "mean_sequence_length"]
  params.QCReportFields.short_read_length.on = params.platform == params.opt_platforms.illumina ? true : false
  params.QCReportFields.short_read_length.coerce_type = 'Integer'
  params.QCReportFields.short_read_length.compare_fields = ["min_illumina_read_length", "max_illumina_read_length"]
  params.QCReportFields.short_read_length.comp_type = "range"
  params.QCReportFields.short_read_length.qc_func = "READQUALITY"
  params.QCReportFields.short_read_length.low_msg = "Combined mean Illumina read length is lower than expected."
  params.QCReportFields.short_read_length.high_msg = "Combined mean Illumina read length is much higher than expected."

  // requested to aid in verifying selected reads match a given sequencing run
  params.QCReportFields.long_read_length.path = ["RawReadSummary", "combined", "mean_sequence_length"]
  params.QCReportFields.long_read_length.on = params.platform == params.opt_platforms.ont || params.platform == params.opt_platforms.pacbio ? true : false
  params.QCReportFields.long_read_length.coerce_type = 'Integer'
  params.QCReportFields.long_read_length.compare_fields = ["min_long_read_length"]
  params.QCReportFields.long_read_length.comp_type = "ge"
  params.QCReportFields.long_read_length.qc_func = "READQUALITY"
  params.QCReportFields.long_read_length.low_msg = "Combined long read length is lower than expected."



/*  This is required for tests to run in WSL/Ubuntu using singularity
    Without this, ECTyper was not successfully completing.
    More information related to the ECTyper error I encountered
    is found at https://github.com/marcelm/cutadapt/issues/583

    2024-04-18: Updated from contains to containall in a hope to resolve
    an issue with QUAST and gridss after reading through the above issue
    sadly it did not work but apparently containall is a good catchall.
*/
singularity.runOptions = "--containall"

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"


trace.fields = "task_id,hash,process,tag,name,status,scratch,container,hostname,duration,realtime,%cpu,rss,vmem,rchar,wchar"

