/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params.max_memory = "2.GB"
params.max_cpus = 1
params.fastp.illumina.args = "-Q"


/*  This is required for tests to run in WSL/Ubuntu using singularity
    Without this, ECTyper was not successfully completing.
    More information related to the ECTyper error I encountered
    is found at https://github.com/marcelm/cutadapt/issues/583

    2024-04-18: Updated from contains to containall in a hope to resolve
    an issue with QUAST and gridss after reading through the above issue
    sadly it did not work but apparently containall is a good catchall.
*/
singularity.runOptions = "--containall"

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"
