/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params.max_memory = "2.GB"
params.max_cpus = 1
params.fastp.args.illumina = "-Q"
params.report_aggregate.simple_flat_suffix = "_flat_sample.json"

/* This is required for tests to run in WSL/Ubuntu using singularity
   Without this, ECTyper was not successfully completing.
   More information related to the ECTyper error I encountered
   is found at https://github.com/marcelm/cutadapt/issues/583
*/
singularity.runOptions = "--contain"

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"
