/*
IRIDANext plugin configuration

*/


iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = false
        files {
            idkey = "sample"
            global = [
                "**/FinalReports/Aggregated/Json/final_report.json",
                "**/FinalReports/Aggregated/Tables/final_report.tsv"
            ]
            samples = [
                "**/Assembly/FinalAssembly/*/*.filtered.assembly.fasta.gz",
                "**/Assembly/Quality/QUAST/*/*.transposed*.quast.quality.tsv",
                "**/Assembly/Quality/SeqKitStats/*.seqkit.stats.summary.tsv",
                "**/Assembly/PostProcessing/Speciation/MashScreen/*.taxa.screen.screen",
                "**/Reads/Quality/Trimmed/MashScreen/*.reads.screen.screen",
                "**/Reads/Quality/Trimmed/FastP/*.fastp.summary.json",
                "**/Reads/Quality/RawReadQuality/*.scan.summary.json",
                "**/Assembly/Subtyping/ECTyper/*/*.blast_output_alleles.ectyper.subtyping.txt",
                "**/Assembly/Subtyping/ECTyper/*/*.ectyper.subtyping.log",
                "**/Assembly/Subtyping/ECTyper/*/*.output.ectyper.subtyping.tsv",
                "**/Assembly/Subtyping/Lissero/*.lissero.subtyping.tsv",
                "**/Assembly/Subtyping/SISTR/*.sistr.subtyping.tab",
                "**/Assembly/Subtyping/SISTR/*.sistr.allele.subtyping.fasta",
                "**/Assembly/Subtyping/SISTR/*.sistr.allele.subtyping.json",
                "**/Assembly/Subtyping/SISTR/*.sistr.cgmlst.subtyping.csv",
                "**/Assembly/Subtyping/Locidex/Report/*.mlst.subtyping.json.gz",
                "**/FinalReports/FlattenedReports/*.flat_sample.json.gz",
                "**/Assembly/Annotation/Abricate/*abricate.annotation.txt",
                "**/Assembly/Annotation/Mobsuite/Recon/*/*mobtyper_results*.txt",
                "**/Assembly/Annotation/Bakta/*.gbff",
                "**/Assembly/Annotation/Bakta/*.txt",
                "**/Assembly/Annotation/StarAMR/*/*summary*.tsv",
                "**/Assembly/Annotation/StarAMR/*/*detailed_summary*.tsv",
                "**/Assembly/Annotation/StarAMR/*/*results*.xlsx",
            ]
        }
        metadata {
            samples {
                flatten = true
                rename = [
                    "QCStatus"                                       : "QC Status",
                    "QualityAnalysis.checkm_contamination.qc_status" : "Checkm Status",
                    "QualityAnalysis.checkm_contamination.value"     : "Checkm Value",
                    "QualityAnalysis.average_coverage.qc_status"     : "Average Coverage Status",
                    "QualityAnalysis.average_coverage.value"         : "Average Coverage Value",
                    "QualityAnalysis.n50_value.qc_status"            : "n50 Status",
                    "QualityAnalysis.n50_value.value"                : "n50 Value",
                    "QualityAnalysis.raw_average_quality.qc_status"  : "Raw Average Quality Status",
                    "QualityAnalysis.raw_average_quality.value"      : "Raw Average Quality Value",
                    "QualityAnalysis.length.qc_status"               : "Length Status",
                    "QualityAnalysis.length.value"                   : "Length Value",
                    "QualityAnalysis.nr_contigs.qc_status"           : "nr contigs Status",
                    "QualityAnalysis.nr_contigs.value"               : "nr contigs Value",
                    "QCSummary"                                      : "QC Summary",
                    "meta.downsampled"                               : "Downsampled",
                    "SpeciesTopHit"                                  : "predicted_identification_name",
                    "IdentificationMethod"                           : "predicted_identification_method",
                    "ECTyperSubtyping.0.Database"                    : "ECTyper Database",
                    "ECTyperSubtyping.0.Evidence"                    : "ECTyper Evidence",
                    "ECTyperSubtyping.0.GeneCoverages(%)"            : "ECTyper GeneCoverages (%)",
                    "ECTyperSubtyping.0.GeneIdentities(%)"           : "ECTyper GeneIdentities (%)",
                    "ECTyperSubtyping.0.GeneScores"                  : "ECTyper GeneScores",
                    "ECTyperSubtyping.0.H-type"                      : "ECTyper H-Antigen",
                    "ECTyperSubtyping.0.O-type"                      : "ECTyper O-Antigen",
                    "ECTyperSubtyping.0.QC"                          : "ECTyper QCFlag",
                    "ECTyperSubtyping.0.Serotype"                    : "ECTyper Serotype",
                    "ECTyperSubtyping.0.Species"                     : "ECTyper Subtyping",
                    "ECTyperSubtyping.0.Warnings"                    : "ECTyper Warnings",
                    "LISSEROSubtyping.0.SEROTYPE"                    : "LISSERO Serotype",
                    "QUAST.0.GC (%)"                                 : "GC (%)",
                    "RawReadSummary.R1.mean_sequence_length"         : "Mean Sequence Length Forward",
                    "SISTRSubtyping.0.cgmlst_ST"                     : "SISTR cgMLST ST",
                    "SISTRSubtyping.0.cgmlst_found_loci"             : "SISTR cgMLST Found Loci",
                    "SISTRSubtyping.0.cgmlst_genome_match"           : "SISTR cgMLST Genome Match",
                    "SISTRSubtyping.0.cgmlst_matching_alleles"       : "SISTR cgMLST Matching Alleles",
                    "SISTRSubtyping.0.cgmlst_subspecies"             : "SISTR cgMLST Subspecies",
                    "SISTRSubtyping.0.h1"                            : "SISTR H1",
                    "SISTRSubtyping.0.h2"                            : "SISTR H2",
                    "SISTRSubtyping.0.o_antigen"                     : "SISTR Antigen",
                    "SISTRSubtyping.0.qc_messages"                   : "SISTR QC Message",
                    "SISTRSubtyping.0.qc_status"                     : "SISTR QC Status",
                    "SISTRSubtyping.0.serogroup"                     : "SISTR Serogroup",
                    "SISTRSubtyping.0.serovar"                       : "SISTR Serovar",
                    "SISTRSubtyping.0.serovar_antigen"               : "SISTR Serovar Antigen",
                    "SISTRSubtyping.0.serovar_cgmlst"                : "SISTR Serovar cgMLST",
                    "SeqtkBaseCount"                                 : "BaseCount",
                    "SevenGeneMLSTReport.0.alleles.abcZ"             : "abcZ",
                    "SevenGeneMLSTReport.0.alleles.adk"              : "adk",
                    "SevenGeneMLSTReport.0.alleles.arcA"             : "arcA",
                    "SevenGeneMLSTReport.0.alleles.aroC"             : "aroC",
                    "SevenGeneMLSTReport.0.alleles.aspC"             : "aspC",
                    "SevenGeneMLSTReport.0.alleles.bglA"             : "bglA",
                    "SevenGeneMLSTReport.0.alleles.cat"              : "cat",
                    "SevenGeneMLSTReport.0.alleles.clpX"             : "clpX",
                    "SevenGeneMLSTReport.0.alleles.dapE"             : "dapE",
                    "SevenGeneMLSTReport.0.alleles.dat"              : "dat",
                    "SevenGeneMLSTReport.0.alleles.dnaG"             : "dnaG",
                    "SevenGeneMLSTReport.0.alleles.dnaN"             : "dnaN",
                    "SevenGeneMLSTReport.0.alleles.fadD"             : "fadD",
                    "SevenGeneMLSTReport.0.alleles.fumC"             : "fumC",
                    "SevenGeneMLSTReport.0.alleles.gyrB"             : "gyrB",
                    "SevenGeneMLSTReport.0.alleles.hemD"             : "hemD",
                    "SevenGeneMLSTReport.0.alleles.hisD"             : "hisD",
                    "SevenGeneMLSTReport.0.alleles.icd"              : "icd",
                    "SevenGeneMLSTReport.0.alleles.ldh"              : "ldh",
                    "SevenGeneMLSTReport.0.alleles.lhkA"             : "lhkA",
                    "SevenGeneMLSTReport.0.alleles.lysP"             : "lysP",
                    "SevenGeneMLSTReport.0.alleles.mdh"              : "mdh",
                    "SevenGeneMLSTReport.0.alleles.purA"             : "purA",
                    "SevenGeneMLSTReport.0.alleles.purE"             : "purE",
                    "SevenGeneMLSTReport.0.alleles.recA"             : "recA",
                    "SevenGeneMLSTReport.0.alleles.sucA"             : "sucA",
                    "SevenGeneMLSTReport.0.alleles.thrA"             : "thrA",
                    "SevenGeneMLSTReport.0.sequence_type"            : "7 Gene ST",
                    "SevenGeneMLSTReport.0.scheme"                   : "7 Gene Scheme",
                    "StarAMR.0.Genotype"                             : "StarAMR Genotype",
                    "StarAMR.0.Predicted Phenotype"                  : "StarAMR Predicted Phenotype",
                    "StarAMR.0.CGE Predicted Phenotype"              : "StarAMR CGE Predicted Phenotype",
                    "StarAMR.0.Plasmid"                              : "StarAMR Plasmid"
                ]
                keep = [
                    "QCStatus",
                    "QualityAnalysis.checkm_contamination.qc_status",
                    "QualityAnalysis.checkm_contamination.value",
                    "QualityAnalysis.average_coverage.qc_status",
                    "QualityAnalysis.average_coverage.value",
                    "QualityAnalysis.n50_value.qc_status",
                    "QualityAnalysis.n50_value.value",
                    "QualityAnalysis.raw_average_quality.qc_status",
                    "QualityAnalysis.raw_average_quality.value",
                    "QualityAnalysis.length.qc_status",
                    "QualityAnalysis.length.value",
                    "QualityAnalysis.nr_contigs.qc_status",
                    "QualityAnalysis.nr_contigs.value",
                    "QCSummary",
                    "IdentificationMethod",
                    "meta.downsampled",
                    "SpeciesTopHit",
                    "ECTyperSubtyping.0.Database",
                    "ECTyperSubtyping.0.Evidence",
                    "ECTyperSubtyping.0.GeneCoverages(%)",
                    "ECTyperSubtyping.0.GeneIdentities(%)",
                    "ECTyperSubtyping.0.GeneScores",
                    "ECTyperSubtyping.0.H-type",
                    "ECTyperSubtyping.0.O-type",
                    "ECTyperSubtyping.0.QC",
                    "ECTyperSubtyping.0.Serotype",
                    "ECTyperSubtyping.0.Species",
                    "ECTyperSubtyping.0.Warnings",
                    "LISSEROSubtyping.0.SEROTYPE",
                    "QUAST.0.GC (%)",
                    "RawReadSummary.R1.mean_sequence_length",
                    "SISTRSubtyping.0.cgmlst_ST",
                    "SISTRSubtyping.0.cgmlst_found_loci",
                    "SISTRSubtyping.0.cgmlst_genome_match",
                    "SISTRSubtyping.0.cgmlst_matching_alleles",
                    "SISTRSubtyping.0.cgmlst_subspecies",
                    "SISTRSubtyping.0.h1",
                    "SISTRSubtyping.0.h2",
                    "SISTRSubtyping.0.o_antigen",
                    "SISTRSubtyping.0.qc_messages",
                    "SISTRSubtyping.0.qc_status",
                    "SISTRSubtyping.0.serogroup",
                    "SISTRSubtyping.0.serovar",
                    "SISTRSubtyping.0.serovar_antigen",
                    "SISTRSubtyping.0.serovar_cgmlst",
                    "SeqtkBaseCount",
                    "SevenGeneMLSTReport.0.alleles.abcZ",
                    "SevenGeneMLSTReport.0.alleles.adk",
                    "SevenGeneMLSTReport.0.alleles.arcA",
                    "SevenGeneMLSTReport.0.alleles.aroC",
                    "SevenGeneMLSTReport.0.alleles.aspC",
                    "SevenGeneMLSTReport.0.alleles.bglA",
                    "SevenGeneMLSTReport.0.alleles.cat",
                    "SevenGeneMLSTReport.0.alleles.clpX",
                    "SevenGeneMLSTReport.0.alleles.dapE",
                    "SevenGeneMLSTReport.0.alleles.dat",
                    "SevenGeneMLSTReport.0.alleles.dnaG",
                    "SevenGeneMLSTReport.0.alleles.dnaN",
                    "SevenGeneMLSTReport.0.alleles.fadD",
                    "SevenGeneMLSTReport.0.alleles.fumC",
                    "SevenGeneMLSTReport.0.alleles.gyrB",
                    "SevenGeneMLSTReport.0.alleles.hemD",
                    "SevenGeneMLSTReport.0.alleles.hisD",
                    "SevenGeneMLSTReport.0.alleles.icd",
                    "SevenGeneMLSTReport.0.alleles.ldh",
                    "SevenGeneMLSTReport.0.alleles.lhkA",
                    "SevenGeneMLSTReport.0.alleles.lysP",
                    "SevenGeneMLSTReport.0.alleles.mdh",
                    "SevenGeneMLSTReport.0.alleles.purA",
                    "SevenGeneMLSTReport.0.alleles.purE",
                    "SevenGeneMLSTReport.0.alleles.recA",
                    "SevenGeneMLSTReport.0.alleles.sucA",
                    "SevenGeneMLSTReport.0.alleles.thrA",
                    "SevenGeneMLSTReport.0.sequence_type",
                    "SevenGeneMLSTReport.0.scheme",
                    "StarAMR.0.Genotype",
                    "StarAMR.0.Predicted Phenotype",
                    "StarAMR.0.CGE Predicted Phenotype",
                    "StarAMR.0.Plasmid"
                ]
                json {
                    path = "**/FinalReports/Sample/Json/final_report_flattened.json"
                }
            }
        }
    }
}
