/*
IRIDANext plugin configuration

*/


iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = false
        files {
            idkey = 'external_id'  // Previously sample
            global = [
                "**/FinalReports/Aggregated/Json/final_report.json",
                "**/FinalReports/Aggregated/Tables/final_report.tsv"
            ]
            samples = [
                "**/Assembly/FinalAssembly/*/*.filtered.assembly.fasta.gz",
                "**/Assembly/Quality/QUAST/*/*.transposed*.quast.quality.tsv",
                "**/Assembly/Quality/SeqKitStats/*.seqkit.stats.summary.tsv",
                "**/Assembly/PostProcessing/Speciation/MashScreen/*.taxa.screen.screen",
                "**/Reads/Quality/Trimmed/MashScreen/*.reads.screen.screen",
                "**/Reads/Quality/Trimmed/FastP/*.fastp.summary.json",
                "**/Reads/Quality/RawReadQuality/*.scan.summary.json",
                "**/Assembly/Subtyping/ECTyper/*/*.blastn_output_alleles.ectyper.subtyping.txt",
                "**/Assembly/Subtyping/ECTyper/*/*.ectyper.subtyping.log",
                "**/Assembly/Subtyping/ECTyper/*/*.output.ectyper.subtyping.tsv",
                "**/Assembly/Subtyping/Lissero/*.lissero.subtyping.tsv",
                "**/Assembly/Subtyping/SISTR/*.sistr.subtyping.tab",
                "**/Assembly/Subtyping/SISTR/*.sistr.allele.subtyping.fasta",
                "**/Assembly/Subtyping/SISTR/*.sistr.allele.subtyping.json",
                "**/Assembly/Subtyping/SISTR/*.sistr.cgmlst.subtyping.csv",
                "**/Assembly/Subtyping/Locidex/Report/*.mlst.subtyping.json.gz",
                "**/Assembly/Subtyping/Locidex/Summary/*.locidex.summary.json",
                "**/FinalReports/FlattenedReports/*.flat_sample.json.gz",
                "**/Assembly/Annotation/Abricate/*abricate.annotation.txt",
                "**/Assembly/Annotation/Mobsuite/Recon/*/*mobtyper_results*.txt",
                "**/Assembly/Annotation/Bakta/*.gbff",
                "**/Assembly/Annotation/Bakta/*.txt",
                "**/Assembly/Annotation/StarAMR/*/*summary*.tsv",
                "**/Assembly/Annotation/StarAMR/*/*detailed_summary*.tsv",
                "**/Assembly/Annotation/StarAMR/*/*results*.xlsx",
                "**/pipeline_info/*.mikrokondo.parameters.json",
                "**/pipeline_info/*.mikrokondo.software.version.yml",
            ]
        }
        metadata {
            samples {
                flatten = true
                rename = [
                    "QCStatus"                                       : "qc_status_overall",
                    "QualityAnalysis.checkm_contamination.qc_status" : "qc_status_contamination",
                    "QualityAnalysis.checkm_contamination.value"     : "checkm_value",
                    "QualityAnalysis.average_coverage.qc_status"     : "qc_status_read_depth_fixed",
                    "QualityAnalysis.average_coverage.value"         : "mean_read_depth_fixed",
                    "QualityAnalysis.n50_value.qc_status"            : "qc_status_assembly_n50",
                    "QualityAnalysis.n50_value.value"                : "n50_value",
                    "QualityAnalysis.raw_average_quality.qc_status"  : "qc_status_read_qual",
                    "QualityAnalysis.raw_average_quality.value"      : "raw_average_quality_value",
                    "QualityAnalysis.length.qc_status"               : "qc_status_assembly_genome_size",
                    "QualityAnalysis.length.value"                   : "assembly_length",
                    "QualityAnalysis.nr_contigs.qc_status"           : "qc_status_assembly_num_contigs",
                    "QualityAnalysis.nr_contigs.value"               : "assembly_num_contigs",
                    "QCSummary"                                      : "qc_summary",
                    "meta.downsampled"                               : "Downsampled",
                    "LocidexDatabaseInformation.db_name"             : "locidex_db_name",
                    "LocidexDatabaseInformation.db_date"             : "locidex_db_date",
                    "LocidexDatabaseInformation.db_version"          : "locidex_db_version",
                    "LocidexSummary.TotalLoci"                       : "locidex_db_total_loci_count",
                    "LocidexSummary.AllelesPresent"                  : "locidex_count_loci_found",
                    "LocidexSummary.MissingAllelesCount"             : "locidex_count_loci_missing",
                    "ECTyperSubtyping.0.DatabaseVer"                 : "ECTyper Database",
                    "ECTyperSubtyping.0.Evidence"                    : "ECTyper Evidence",
                    "ECTyperSubtyping.0.GeneCoverages(%)"            : "ECTyper GeneCoverages (%)",
                    "ECTyperSubtyping.0.GeneIdentities(%)"           : "ECTyper GeneIdentities (%)",
                    "ECTyperSubtyping.0.GeneScores"                  : "ECTyper GeneScores",
                    "ECTyperSubtyping.0.H-type"                      : "ECTyper H-Antigen",
                    "ECTyperSubtyping.0.O-type"                      : "ECTyper O-Antigen",
                    "ECTyperSubtyping.0.QC"                          : "ECTyper QCFlag",
                    "ECTyperSubtyping.0.Serotype"                    : "ECTyper Serotype",
                    "ECTyperSubtyping.0.Species"                     : "ECTyper Subtyping",
                    "ECTyperSubtyping.0.Warnings"                    : "ECTyper Warnings",
                    "ECTyperSubtyping.0.Pathotype"                   : "ECTyper Pathotype",
                    "ECTyperSubtyping.0.PathotypeCounts"             : "ECTyper Pathotype Counts",
                    "ECTyperSubtyping.0.PathotypeGenes"              : "ECTyper Pathotype Genes",
                    "ECTyperSubtyping.0.PathotypeGeneNames"          : "ECTyper Pathotype Gene Names",
                    "ECTyperSubtyping.0.PathotypeAccessions"         : "ECTyper Pathotype Accessions",
                    "ECTyperSubtyping.0.PathotypeAlleleIDs"          : "ECTyper Pathotype Allele IDs",
                    "ECTyperSubtyping.0.PathotypeIdentities(%)"      : "ECTyper Pathotype Identities (%)",
                    "ECTyperSubtyping.0.PathotypeCoverages(%)"       : "ECTyper Pathotype Coverages (%)",
                    "ECTyperSubtyping.0.PathotypeGeneLengthRatios"   : "ECTyper Pathotype Gene Length Ratios",
                    "ECTyperSubtyping.0.PathotypeRuleIDs"            : "ECTyper Pathotype Rule IDs",
                    "ECTyperSubtyping.0.PathotypeGeneCounts"         : "ECTyper Pathotype Gene Counts",
                    "ECTyperSubtyping.0.PathoDBVer"                  : "ECTyper PathoDBVer",
                    "ECTyperSubtyping.0.StxSubtypes"                 : "ECTyper Stx Subtypes",
                    "ECTyperSubtyping.0.StxAccessions"               : "ECTyper Stx Accessions",
                    "ECTyperSubtyping.0.StxAlleleIDs"                : "ECTyper Stx Allele IDs",
                    "ECTyperSubtyping.0.StxAlleleNames"              : "ECTyper Stx Allele Names",
                    "ECTyperSubtyping.0.StxIdentities(%)"            : "ECTyper Stx Identities (%)",
                    "ECTyperSubtyping.0.StxCoverages(%)"             : "ECTyper Stx Coverages (%)",
                    "ECTyperSubtyping.0.StxLengths"                  : "ECTyper Stx Lengths",
                    "ECTyperSubtyping.0.StxContigNames"              : "ECTyper Stx Contig Names",
                    "ECTyperSubtyping.0.StxCoordinates"              : "ECTyper Stx Coordinates",
                    "LISSEROSubtyping.0.SEROTYPE"                    : "LISSERO Serotype",
                    "QUAST.0.GC (%)"                                 : "gc",
                    "RawReadSummary.R1.mean_sequence_length"         : "Mean Sequence Length Forward",
		            "RawReadSummary.R2.mean_sequence_length"         : "Mean Sequence Length Reverse",
                    "SISTRSubtyping.0.cgmlst_ST"                     : "SISTR cgMLST ST",
                    "SISTRSubtyping.0.cgmlst_found_loci"             : "SISTR cgMLST Found Loci",
                    "SISTRSubtyping.0.cgmlst_genome_match"           : "SISTR cgMLST Genome Match",
                    "SISTRSubtyping.0.cgmlst_matching_alleles"       : "SISTR cgMLST Matching Alleles",
                    "SISTRSubtyping.0.cgmlst_subspecies"             : "SISTR cgMLST Subspecies",
                    "SISTRSubtyping.0.h1"                            : "SISTR H1",
                    "SISTRSubtyping.0.h2"                            : "SISTR H2",
                    "SISTRSubtyping.0.o_antigen"                     : "SISTR Antigen",
                    "SISTRSubtyping.0.qc_messages"                   : "SISTR QC Message",
                    "SISTRSubtyping.0.qc_status"                     : "SISTR QC Status",
                    "SISTRSubtyping.0.serogroup"                     : "SISTR Serogroup",
                    "SISTRSubtyping.0.serovar"                       : "SISTR Serovar",
                    "SISTRSubtyping.0.serovar_antigen"               : "SISTR Serovar Antigen",
                    "SISTRSubtyping.0.serovar_cgmlst"                : "SISTR Serovar cgMLST",
                    "SevenGeneMLSTReport.0.alleles.abcZ"             : "abcZ",
                    "SevenGeneMLSTReport.0.alleles.adk"              : "adk",
                    "SevenGeneMLSTReport.0.alleles.arcA"             : "arcA",
                    "SevenGeneMLSTReport.0.alleles.aroC"             : "aroC",
                    "SevenGeneMLSTReport.0.alleles.aspC"             : "aspC",
                    "SevenGeneMLSTReport.0.alleles.bglA"             : "bglA",
                    "SevenGeneMLSTReport.0.alleles.cat"              : "cat",
                    "SevenGeneMLSTReport.0.alleles.clpX"             : "clpX",
                    "SevenGeneMLSTReport.0.alleles.dapE"             : "dapE",
                    "SevenGeneMLSTReport.0.alleles.dat"              : "dat",
                    "SevenGeneMLSTReport.0.alleles.dnaG"             : "dnaG",
                    "SevenGeneMLSTReport.0.alleles.dnaN"             : "dnaN",
                    "SevenGeneMLSTReport.0.alleles.fadD"             : "fadD",
                    "SevenGeneMLSTReport.0.alleles.fumC"             : "fumC",
                    "SevenGeneMLSTReport.0.alleles.gyrB"             : "gyrB",
                    "SevenGeneMLSTReport.0.alleles.hemD"             : "hemD",
                    "SevenGeneMLSTReport.0.alleles.hisD"             : "hisD",
                    "SevenGeneMLSTReport.0.alleles.icd"              : "icd",
                    "SevenGeneMLSTReport.0.alleles.ldh"              : "ldh",
                    "SevenGeneMLSTReport.0.alleles.lhkA"             : "lhkA",
                    "SevenGeneMLSTReport.0.alleles.lysP"             : "lysP",
                    "SevenGeneMLSTReport.0.alleles.mdh"              : "mdh",
                    "SevenGeneMLSTReport.0.alleles.purA"             : "purA",
                    "SevenGeneMLSTReport.0.alleles.purE"             : "purE",
                    "SevenGeneMLSTReport.0.alleles.recA"             : "recA",
                    "SevenGeneMLSTReport.0.alleles.sucA"             : "sucA",
                    "SevenGeneMLSTReport.0.alleles.thrA"             : "thrA",
                    "SevenGeneMLSTReport.0.sequence_type"            : "7 Gene ST",
                    "SevenGeneMLSTReport.0.scheme"                   : "7 Gene Scheme",
                    "StarAMR.0.Genotype"                             : "StarAMR Genotype",
                    "StarAMR.0.Predicted Phenotype"                  : "StarAMR Predicted Phenotype",
                    "StarAMR.0.CGE Predicted Phenotype"              : "StarAMR CGE Predicted Phenotype",
                    "StarAMR.0.Plasmid"                              : "StarAMR Plasmid",
                    "SecondarySpeciation"                            : "predicted_identification_name",
                    "SecondarySpeciationMethod"                      : "predicted_identification_method",
                    "RawReadSummary.combined.total_bp"               : "total_sequenced_bases",
                    "MikrokondoVersion"                              : "mikrokondo_version",
                    "PrimaryTypeID"                                  : "predicted_primary_type_name",
                    "PrimaryTypeIDMethod"                            : "predicted_primary_type_method",
                    "SecondaryTypeID"                                : "predicted_secondary_type_name",
                    "SecondaryTypeIDMethod"                          : "predicted_secondary_type_method",
                ]
                keep = [
                    "MikrokondoVersion",
                    "QCStatus",
                    "QCSummary",
                    "QualityAnalysis.checkm_contamination.qc_status",
                    "QualityAnalysis.checkm_contamination.value",
                    "QualityAnalysis.average_coverage.qc_status",
                    "QualityAnalysis.average_coverage.value",
                    "QualityAnalysis.n50_value.qc_status",
                    "QualityAnalysis.n50_value.value",
                    "QualityAnalysis.raw_average_quality.qc_status",
                    "QualityAnalysis.raw_average_quality.value",
                    "QualityAnalysis.length.qc_status",
                    "QualityAnalysis.length.value",
                    "QualityAnalysis.nr_contigs.qc_status",
                    "QualityAnalysis.nr_contigs.value",
                    "IdentificationMethod",
                    "meta.downsampled",
                    "SpeciesTopHit",
                    "LocidexDatabaseInformation.db_name",
                    "LocidexDatabaseInformation.db_date",
                    "LocidexDatabaseInformation.db_version",
                    "LocidexSummary.TotalLoci",
                    "LocidexSummary.AllelesPresent",
                    "LocidexSummary.MissingAllelesCount",
                    "ECTyperSubtyping.0.DatabaseVer",
                    "ECTyperSubtyping.0.Evidence",
                    "ECTyperSubtyping.0.GeneCoverages(%)",
                    "ECTyperSubtyping.0.GeneIdentities(%)",
                    "ECTyperSubtyping.0.GeneScores",
                    "ECTyperSubtyping.0.H-type",
                    "ECTyperSubtyping.0.O-type",
                    "ECTyperSubtyping.0.QC",
                    "ECTyperSubtyping.0.Serotype",
                    "ECTyperSubtyping.0.Species",
                    "ECTyperSubtyping.0.Warnings",
                    "ECTyperSubtyping.0.Pathotype",
                    "ECTyperSubtyping.0.PathotypeCounts",
                    "ECTyperSubtyping.0.PathotypeGenes",
                    "ECTyperSubtyping.0.PathotypeGeneNames",
                    "ECTyperSubtyping.0.PathotypeAccessions",
                    "ECTyperSubtyping.0.PathotypeAlleleIDs",
                    "ECTyperSubtyping.0.PathotypeIdentities(%)",
                    "ECTyperSubtyping.0.PathotypeCoverages(%)",
                    "ECTyperSubtyping.0.PathotypeGeneLengthRatios",
                    "ECTyperSubtyping.0.PathotypeRuleIDs",
                    "ECTyperSubtyping.0.PathotypeGeneCounts",
                    "ECTyperSubtyping.0.PathoDBVer",
                    "ECTyperSubtyping.0.StxSubtypes",
                    "ECTyperSubtyping.0.StxAccessions",
                    "ECTyperSubtyping.0.StxAlleleIDs",
                    "ECTyperSubtyping.0.StxAlleleNames",
                    "ECTyperSubtyping.0.StxIdentities(%)",
                    "ECTyperSubtyping.0.StxCoverages(%)",
                    "ECTyperSubtyping.0.StxLengths",
                    "ECTyperSubtyping.0.StxContigNames",
                    "ECTyperSubtyping.0.StxCoordinates",
                    "LISSEROSubtyping.0.SEROTYPE",
                    "QUAST.0.GC (%)",
                    "RawReadSummary.R1.mean_sequence_length",
                    "SISTRSubtyping.0.cgmlst_ST",
                    "SISTRSubtyping.0.cgmlst_found_loci",
                    "SISTRSubtyping.0.cgmlst_genome_match",
                    "SISTRSubtyping.0.cgmlst_matching_alleles",
                    "SISTRSubtyping.0.cgmlst_subspecies",
                    "SISTRSubtyping.0.h1",
                    "SISTRSubtyping.0.h2",
                    "SISTRSubtyping.0.o_antigen",
                    "SISTRSubtyping.0.qc_messages",
                    "SISTRSubtyping.0.qc_status",
                    "SISTRSubtyping.0.serogroup",
                    "SISTRSubtyping.0.serovar",
                    "SISTRSubtyping.0.serovar_antigen",
                    "SISTRSubtyping.0.serovar_cgmlst",
                    "SeqtkBaseCount",
                    "SevenGeneMLSTReport.0.alleles.abcZ",
                    "SevenGeneMLSTReport.0.alleles.adk",
                    "SevenGeneMLSTReport.0.alleles.arcA",
                    "SevenGeneMLSTReport.0.alleles.aroC",
                    "SevenGeneMLSTReport.0.alleles.aspC",
                    "SevenGeneMLSTReport.0.alleles.bglA",
                    "SevenGeneMLSTReport.0.alleles.cat",
                    "SevenGeneMLSTReport.0.alleles.clpX",
                    "SevenGeneMLSTReport.0.alleles.dapE",
                    "SevenGeneMLSTReport.0.alleles.dat",
                    "SevenGeneMLSTReport.0.alleles.dnaG",
                    "SevenGeneMLSTReport.0.alleles.dnaN",
                    "SevenGeneMLSTReport.0.alleles.fadD",
                    "SevenGeneMLSTReport.0.alleles.fumC",
                    "SevenGeneMLSTReport.0.alleles.gyrB",
                    "SevenGeneMLSTReport.0.alleles.hemD",
                    "SevenGeneMLSTReport.0.alleles.hisD",
                    "SevenGeneMLSTReport.0.alleles.icd",
                    "SevenGeneMLSTReport.0.alleles.ldh",
                    "SevenGeneMLSTReport.0.alleles.lhkA",
                    "SevenGeneMLSTReport.0.alleles.lysP",
                    "SevenGeneMLSTReport.0.alleles.mdh",
                    "SevenGeneMLSTReport.0.alleles.purA",
                    "SevenGeneMLSTReport.0.alleles.purE",
                    "SevenGeneMLSTReport.0.alleles.recA",
                    "SevenGeneMLSTReport.0.alleles.sucA",
                    "SevenGeneMLSTReport.0.alleles.thrA",
                    "SevenGeneMLSTReport.0.sequence_type",
                    "SevenGeneMLSTReport.0.scheme",
                    "StarAMR.0.Genotype",
                    "StarAMR.0.Predicted Phenotype",
                    "StarAMR.0.CGE Predicted Phenotype",
                    "StarAMR.0.Plasmid",
                    "SecondarySpeciation",
                    "SecondarySpeciationMethod",
                    "RawReadSummary.combined.total_bp",
                    "PrimaryTypeID",
                    "PrimaryTypeIDMethod",
                    "SecondaryTypeID",
                    "SecondaryTypeIDMethod",
                ]
                json {
                    path = "**/FinalReports/Sample/Json/final_report_flattened.json"
                }
            }
        }
    }
}
