/*
IRIDANext plugin configuration

*/


iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = false
        files {
            idkey = "id"
            global = [
                "**/SummaryReport/final_report.json"
            ]
            samples = [
                "**/assembly/length_filtered_contigs/*_filtered.fasta.gz",
                "**/assembly/quality/quast/*/*.pdf",
                "**/assembly/7GeneMLST/*.json",
                "**/assembly/taxon_determination/mash/*.taxa.screen",
                "**/subtyping/ectyper/*/output.tsv",
                "**/annotations/abricate/*.txt",
                "**/annotations/mobrecon/*/mobtyper_results.txt",
                "**/StarAMR/*/summary.tsv",
                "**/StarAMR/*/detailed_summary.tsv",
                "**/StarAMR/*/results.xlsx",
            ]
        }
        metadata {
            samples {
                flatten = true
                keep = [
                    "QualityAnalysis.raw_average_quality.status",
                    "QualityAnalysis.raw_average_quality.message",
                    "QualityAnalysis.raw_average_quality.field",
                    "QualityAnalysis.raw_average_quality.low",
                    "QualityAnalysis.average_coverage.status",
                    "QualityAnalysis.average_coverage.message",
                    "QualityAnalysis.average_coverage.field",
                    "QualityAnalysis.average_coverage.low",
                    "QualityAnalysis.n50_value.status",
                    "QualityAnalysis.n50_value.message",
                    "QualityAnalysis.n50_value.field",
                    "QualityAnalysis.n50_value.low",
                    "QualityAnalysis.nr_contigs.status",
                    "QualityAnalysis.nr_contigs.message",
                    "QualityAnalysis.nr_contigs.field",
                    "QualityAnalysis.nr_contigs.low",
                    "QualityAnalysis.length.status",
                    "QualityAnalysis.length.message",
                    "QualityAnalysis.length.field",
                    "QualityAnalysis.length.low",
                    "QualityAnalysis.checkm_contamination.status",
                    "QualityAnalysis.checkm_contamination.message",
                    "QualityAnalysis.checkm_contamination.field",
                    "QualityAnalysis.checkm_contamination.low",
                    "QCStatus",
                    "QCSummary",
                    "MeetsReadThreshold",
                    "MashMeta",
                    "SeqtkBaseCount",
                    "AssemblyCompleted",
                    "MaxContigToShort",
                    "QUAST.0.# contigs",
                    "QUAST.0.Largest contig",
                    "QUAST.0.Total length",
                    "QUAST.0.Reference length",
                    "QUAST.0.Estimated reference length",
                    "QUAST.0.GC (%)",
                    "QUAST.0.Reference GC (%)",
                    "QUAST.0.N50",
                    "QUAST.0.NG50",
                    "QUAST.0.N90",
                    "QUAST.0.NG90",
                    "QUAST.0.auN",
                    "QUAST.0.auNG",
                    "QUAST.0.L50",
                    "QUAST.0.LG50",
                    "QUAST.0.L90",
                    "QUAST.0.LG90",
                    "SpeciesTopHit",
                    "DetectedGenomeSizeDepth",
                    "FixedGenomeSizeDepth",
                ]
                json {
                    path = "**/SummaryReport/final_report_flattened.json"
                }
            }
        }
    }
}
