/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run mk-kondo/mikrokondo -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_memory = "2.GB"
    max_cpus = 1
    max_time   = '3.h'

    // Input data
    input = "https://raw.githubusercontent.com/phac-nml/mikrokondo/dev/assets/samplesheet.csv"
    outdir = "results"

    platform = "illumina"

    mash_sketch = "https://github.com/phac-nml/mikrokondo/raw/dev/tests/data/databases/campy-staph-ecoli.msh"
    mash.mash_sketch = mash_sketch
    mash.min_kmer = 1

    dehosting_idx = "https://github.com/phac-nml/mikrokondo/raw/dev/tests/data/databases/campy.mmi"
    r_contaminants.mega_mm2_idx = dehosting_idx
    kraken2_db = "${projectDir}/tests/data/kraken2/test"
    kraken.db = kraken2_db
    lx_allele_database = "${projectDir}/tests/data/databases/locidex_dbs"
    locidex.allele_database = lx_allele_database
    fastp.args.illumina = "-Q"
    min_reads = 100

    skip_bakta = true
    skip_staramr = false
    skip_mobrecon = false
    skip_checkm = true
    skip_raw_read_metrics = false
    skip_polishing = false
}
