// Test of assembly workflow
// nextflow run main.nf -profile test_assembly,<docker/singularity> --outdir <OUTDIR>

params {
    config_profile_name        = 'Test assembly workflow of mikrokondo'
    config_profile_description = ''

    // Input data for full size test

    skip_bakta = true
    input = 'https://raw.githubusercontent.com/mattheww95/mikrokondo_tests/main/assemblies.csv'

    // Genome references
    //genome = 'R64-1-1'
}
