//nextflow run main.nf -profile test_assembly,<docker/singularity> --outdir <OUTDIR>

params {
    config_profile_name        = 'Test Nanopore workflow of mikrokondo'
    config_profile_description = ''

    platform = "nanopore"
    // Input data for full size test
    nanopore_chemistry = "r941_min_hac_g507"

    skip_bakta = true
    input = 'https://raw.githubusercontent.com/mattheww95/mikrokondo_tests/main/nanopore.csv'

}
