/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run mk-kondo/mikrokondo -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_memory = "2.GB"
    max_cpus = 1
    max_time   = '3.h'

    // Input data
    input = "https://raw.githubusercontent.com/phac-nml/mikrokondo/dev/tests/data/samplesheets/samplesheet-small-assembly.csv"
    outdir = "results"

    platform = "illumina"

    mash {
        singularity = "https://depot.galaxyproject.org/singularity/mash:2.3--he348c14_1"
        docker = 'quay.io/biocontainers/mash:2.3--he348c14_1'
        // going forward labeled with _ext include '.'
        mash_ext = ".screen" //TODO refactor out of utility workflow
        output_reads_ext = ".reads.screen"
        output_taxa_ext = ".taxa.screen"
        output_dir = "contamination"
        mash_sketch = "https://github.com/phac-nml/mikrokondo/raw/dev/tests/data/databases/campy-staph-ecoli.msh"
        sketch_ext = ".msh"
        json_ext = ".json"
        sketch_kmer_size = 21 // defualt param in mash
        min_kmer = 1
        final_sketch_name = "GTDB_sketch"
        report_tag = "Mash"
        header_p = false
        headers = ["identity", "Shared Hashes", "Median Multiplicity", "P-Value", "Query ID", "Query Note"]
    }

    r_contaminants {
        // container contains minimap2 and samtools
        singularity = "https://depot.galaxyproject.org/singularity/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0"
        docker = "quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:8f2087d838e5270cd83b5a016667234429f16eea-0"
        phix_fa = ""
        homo_sapiens_fa = ""
        pacbio_mg = ""
        output_ext = ".cleaned.fastq.gz"
        mega_mm2_idx = "https://github.com/phac-nml/mikrokondo/raw/dev/tests/data/databases/campy.mmi"
        mm2_illumina = "-x sr" // ax outputs sam
        mm2_pac = "-x map-pb"
        mm2_ont = "-x map-ont"
        mm2_output_ext = ".sam"
        samtools_output_ext = ".fastq"
        samtools_singletons_ext = ".singleton.fq"
        samtools_output_suffix = "deconned"
        output_ext = "${samtools_output_ext}.gz"
        output_dir = "${params.mash.output_dir}/deconned_reads"
    }

    fastp {
        fastq_ext = ".trimmed.fastq.gz"
        singularity = 'https://depot.galaxyproject.org/singularity/fastp%3A0.23.2--hb7a2d85_2'
        docker = 'quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2'
        html_ext = ".html"
        json_ext = ".json"
        report_tag = "FastP"
        average_quality_e = 25 // The -e option in fastp for if the average quality is less than specified then read/read-pair is discarded
        cut_tail_mean_quality = 15
        cut_tail_window_size = 4 // default is 4
        complexity_threshold = 20 // FastP default is 30 not 20
        qualified_quality_phred = 15 // min quality for a read to contain
        unqualified_percent_limit = 40 // if the minimum quality of a read is below 10 that read is discarded
        polyg_min_len = 10
        polyx_min_len = 10
        illumina_length_min = 35
        illumina_length_max = 400
        single_end_length_min = 1000
        dedup_reads = false
        // -c is used to apply overlap analysis and cut out out adapters
        args {
            illumina = "-Q"
            single_end = "--overrepresentation_analysis -Q --length_required ${params.fastp.single_end_length_min}"
        }
        report_exclude_fields = ["content_curves", "quality_curves", "mean", "kmer_count", "histogram", "overrepresented_sequences"]
    }

    min_reads = 100

    skip_bakta = true
    skip_staramr = false
    skip_mobrecon = false
    skip_checkm = false
    skip_raw_read_metrics = false
    skip_polishing = false
}
