
params {
    config_profile_name        = 'Test illumina workflow of mikrokondo'
    config_profile_description = ''

    // Input data for full size test
    platform = "illumina"
    skip_bakta = true
    input = 'https://raw.githubusercontent.com/mattheww95/mikrokondo_tests/main/illumina.csv'
    metagenomic_run = true

}
