//nextflow run main.nf -profile test_pacbio,<docker/singularity> --outdir <OUTDIR>

params {
    config_profile_name        = 'Test Nanopore workflow of mikrokondo'
    config_profile_description = ''

    platform = "pacbio"
    skip_bakta = true
    input = 'https://raw.githubusercontent.com/mattheww95/mikrokondo_tests/main/pacbio.csv'

}
